@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Arial, Helvetica, sans-serif; /* Changed font to more visible options */
  line-height: 1.5;
  font-weight: 500; /* Increased font weight for better visibility */
  color-scheme: light dark;
  color: rgba(255, 255, 255, 1); /* Increased opacity for better visibility */
  background-color: #242424;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}